.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Barlow", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.header-inner {
  z-index: 2;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.header-inner-link ul {
  display: flex;
  gap: 32px;
}

.header-inner-link li {
  list-style: none;
}

.header-inner-link a {
  color: rgb(131, 136, 143);
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  cursor: pointer;
}
.header-inner-link a:hover {
  color: rgb(51, 61, 75);
}

.coffee {
  margin-top: 100px;
  background-image: url(../../img/coffee.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 600px;
  color: white;
  padding: 46px;
}

.coffee h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  max-width: 493px;
}

.coffee p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 445px;
  color: rgb(254, 252, 247);
}

.our-1 {
  display: flex;
  text-align: center;
  margin-top: 55px;
  gap: 30px;
  text-align: center;
}

.our {
  background-image: url(../../img/Our.png);
  position: absolute;
  background-repeat: no-repeat;
  width: 1111px;
  height: 196px;
  margin-top: 95px;
  top: 600px;
  gap: 30px;
}
.our-1 {
  position: relative;
  padding-top: 40px;
}

.our-img-1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-style: 16px;
  line-height: 26px;
}

.why {
  width: 1280px;
  height: 577px;
  background-color: rgb(44, 52, 62);
  padding-top: 100px;
}

.our_box {
  position: relative;
}

.why_texts {
  position: relative;
  color: white;
  text-align: center;
}
.why_texts h2 {
  font-weight: 900;
  font-style: 40px;
  line-height: 26px;
}
.why_texts p {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 540px;
  color: rgb(254, 252, 247);
}

.why_imgs {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.why_box {
  text-align: center;
  width: 350px;
  height: 382px;
  background-color: rgb(14, 135, 132);
  border-radius: 8px;
  flex-wrap: nowrap;
  padding: 56px;
}
.why_box h2 {
  font-weight: 900;
  font-style: 24px;
  line-height: 32px;
  color: rgb(254, 252, 247);
}
.why_box p {
  color: rgb(254, 252, 247);
  font-weight: 400;
  font-style: 16px;
  line-height: 26px;
}

.how {
  margin-top: 200px;
  margin-left: 85px;
}
.how h2 {
  color: rgb(131, 136, 143);
}

.chiziq {
  width: 364px;
  height: 1px;
  background-color: rgb(253, 214, 186);
  display: inline-block;
}

.dumaloq {
  width: 31px;
  height: 31px;
  border: 1px solid rgb(14, 135, 132);
  border-radius: 50px;
  display: inline-block;
  color: rgb(14, 135, 132);
  background-color: white;
}

.blue {
  display: flex;
  justify-content: space-between;
}

.circle {
  display: flex;
  align-items: center;
}

.pick {
  margin-top: 67px;
  margin-left: 85px;
  display: flex;
  gap: 125px;
}
.pick h2 {
  max-width: 255px;
  font-weight: 900;
  font-style: 32px;
  line-height: 36px;
}
.pick p {
  max-width: 285px;
  font-weight: 400;
  font-style: 16px;
  line-height: 26px;
}

.btn-primery {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  border: none;
  margin-top: 56px;
  color: white;
  background-color: rgb(14, 135, 132);
  transition: 0.3s ease;
}
.btn-primery:hover {
  background-color: rgb(102, 210, 207);
}
.btn-primery:active {
  background-color: rgb(14, 135, 132);
}

.btn-primery-2 {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  margin-left: 85px;
  border: none;
  margin-top: 56px;
  color: white;
  background-color: rgb(14, 135, 132);
  transition: 0.3s ease;
}
.btn-primery-2:hover {
  background-color: rgb(102, 210, 207);
}
.btn-primery-2:active {
  background-color: rgb(14, 135, 132);
}/*# sourceMappingURL=main.css.map */