.coffee {
  background-image: url(../../img/coffee.jpg);
  background-repeat: no-repeat;
  width: 1280px;
  height: 600px;
  color: white;
  padding: 46px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $desktop) {
    background-position: center;
    width: 689px;
    height: 500px;

    h2 {
      margin-top: 104px;
      margin-bottom: 0;
    }

    p {
      margin-top: 24px;
      margin-bottom: 40px;
    }
    a {
      margin-top: 0;
      display: inline-block;
      align-items: center;
    }
  }

  @media (max-width: $tablet) {
    width: 327px;
    height: 500px;
    padding: 100px 24px;
    margin-top: 80px;
    background-position: bottom center;
  }
}

.coffee h2 {
  @include title;
  @media (max-width: $desktop) {
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    max-width: 329px;
    font-family: Fraunces;
  }

  @media (max-width: $tablet) {
    @include title-3;
    margin-top: 0;
  }
}

.coffee p {
  @include title-2;

  @media (max-width: $tablet) {
    @include title-4;
    margin-right: 0;
    display: inline-block;
  }
}

.our-1 {
  display: flex;
  text-align: center;
  margin-top: 55px;
  gap: 30px;
  text-align: center;
  @media (max-width: $desktop) {
    flex-direction: column;
  }
}

.our {
  background-image: url(../../img/Our.png);
  position: absolute;
  background-repeat: no-repeat;
  width: 1111px;
  height: 196px;
  margin-top: -35px;
  // top: 600px;
  // gap: 30px;
  &-1 {
    position: relative;
    padding-top: 40px;
  }
  @media (max-width: $desktop) {
    width: 689px;
    height: 180px;
  }
}

.our_h2_text {
  margin-top: 49px;
}

.our-img-1 {
  flex-direction: column;
  display: flex;

  @media (max-width: $desktop) {
    flex-direction: row;
  }

  @include our;
  @include our-2;
  // display: flex;
}

.why {
  width: 1280px;
  height: 577px;
  background-color: rgba(44, 52, 62, 1);
  padding-top: 100px;
  margin-top: 118px;
  @media (max-width: $desktop) {
    width: 688px;
    height: 863px;
    margin-left: auto;
    margin-right: auto;
  }
}
.our_box {
  position: relative;
}

.why_texts {
  position: relative;
  color: white;
  text-align: center;

  h2 {
    @include why;
  }

  p {
    display: inline-block;
    text-align: center;
    @include why-2;
    @include gran;
  }
}

.why_imgs {
  display: flex;
  gap: 30px;
  justify-content: center;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }
}

.why_box {
  text-align: center;
  width: 350px;
  height: 382px;
  border-radius: 8px;
  flex-wrap: nowrap;
  padding: 56px;
  background-color: $green;
  margin-top: 36px;

  @media (max-width: $desktop) {
    width: 573px;
    height: 180px;
    display: flex;
    align-items: center;
  }

  .why_box_text {
    @media (max-width: $desktop) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  h2 {
    @include why_box;
  }

  p {
    @include why_box-2;
  }
}

.how {
  h2 {
    color: rgba(131, 136, 143, 1);
  }
  margin-top: 250px;
  margin-left: 85px;
}

.chiziq {
  width: 364px;
  height: 1px;
  background-color: rgba(253, 214, 186, 1);
  display: inline-block;
  @media (max-width: $desktop) {
    width: 233px;
    height: 1px;
  }
}

.dumaloq {
  width: 31px;
  height: 31px;
  border: 1px solid rgba(14, 135, 132, 1);

  border-radius: 50px;
  display: inline-block;
  color: rgba(14, 135, 132, 1);
  background-color: white;
  @media (max-width: $desktop) {
    border-radius: 50%;
  }
}
.blue {
  display: flex;

  justify-content: space-between;
}
.circle {
  display: flex;
  align-items: center;
}

.pick {
  margin-top: 67px;
  margin-left: 85px;
  display: flex;
  gap: 125px;

  h2 {
    @include pick;
  }

  p {
    @include pick-2;
  }
}

@media (max-width: $tablet) {
  .our_text p {
    max-width: 227px;
  }
}

@media (max-width: $desktop) {
  .our_text p {
    max-width: 420px;
  }
}
