@mixin navigation {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
}

@mixin title {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  max-width: 493px;
}

@mixin title-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 445px;
  color: rgba(254, 252, 247, 1);
}

@mixin title-3 {
  max-width: 279px;
  font-weight: 900;
  font-style: 40px;
  line-height: 40px;
  font-family: Fraunces;
}

@mixin title-4 {
  max-width: 279px;
}

@mixin our {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

@mixin our-2 {
  font-weight: 400;
  font-style: 16px;
  line-height: 26px;
}

@mixin why {
  font-weight: 900;
  font-style: 40px;
  line-height: 26px;
}

@mixin why-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 540px;
  color: rgba(254, 252, 247, 1);
}

@mixin why_box {
  font-weight: 900;
  font-style: 24px;
  line-height: 32px;
  color: rgba(254, 252, 247, 1);
}

@mixin why_box-2 {
  color: rgba(254, 252, 247, 1);
  font-weight: 400;
  font-style: 16px;
  line-height: 26px;
}

@mixin pick {
  max-width: 255px;
  font-weight: 900;
  font-style: 32px;
  line-height: 36px;
}

@mixin pick-2 {
  max-width: 285px;
  font-weight: 400;
  font-style: 16px;
  line-height: 26px;
}

@mixin gran {
  max-width: 540px; 
}